
## <summary>policy for sheet</summary>


########################################
## <summary>
##	Transition to sheet.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`sheet_domtrans',`
	gen_require(`
		type sheet_t, sheet_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, sheet_exec_t, sheet_t)
')


########################################
## <summary>
##	Execute sheet server in the sheet domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sheet_initrc_domtrans',`
	gen_require(`
		type sheet_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, sheet_initrc_exec_t)
')


########################################
## <summary>
##	Search sheet lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sheet_search_lib',`
	gen_require(`
		type sheet_var_lib_t;
	')

	allow $1 sheet_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read sheet lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sheet_read_lib_files',`
	gen_require(`
		type sheet_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, sheet_var_lib_t, sheet_var_lib_t)
')

########################################
## <summary>
##	Manage sheet lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sheet_manage_lib_files',`
	gen_require(`
		type sheet_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, sheet_var_lib_t, sheet_var_lib_t)
')

########################################
## <summary>
##	Manage sheet lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sheet_manage_lib_dirs',`
	gen_require(`
		type sheet_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, sheet_var_lib_t, sheet_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a sheet environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`sheet_admin',`
	gen_require(`
		type sheet_t;
		type sheet_initrc_exec_t;
		type sheet_var_lib_t;
	')

	allow $1 sheet_t:process { ptrace signal_perms };
	ps_process_pattern($1, sheet_t)

	sheet_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 sheet_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, sheet_var_lib_t)

')

